.container .msg h2 {
  color: #f2f2f2;
  font-weight: bold;
  text-align: center;
}
.gameBoard {
  min-height: 500px;
}
.gameBoard #gameTopper #topper {
  /*margin: auto !important;
  float: none !important;*/
}
.otherPlayers {
  padding: 0 10px;
}
.gameBoard .panel-heading {
  text-align: center;
}
.gameBoard #gameTopper .panel-heading h3 {
  color: #555;
  font-weight: bold;
}
.gameBoard .panel-body {
  padding: 3px;
}
.gameBoard .panel-body img{
  width: 100%;
}
.gameBoard .panel-footer {
  padding: 8px;
  text-align: center;
}
.gameBoard .panel-footer p{
  font-weight: bold;
  margin: 0;
}
#gameTopper,.otherPlayers{
  border-top: 1px solid #777;
  padding-top: 5px;
  margin:10px 0;
}
#buttonsDiv {
  border-top: 1px solid #777;
  margin-top: 5px;
  padding-top: 5px;
  clear: both;
  display: block;
  text-align: center;
}

/*@media (min-width:500px) and (max-width:768px) {
  .gameBoard #gameTopper .panel {
    width: 33.3334%;
  }
}

@media (max-width:500px){
  .gameBoard #gameTopper .panel {
    width: 50%;
  }
}*/
/* Pie chart Svg Responsive Style*/
/*Pie Chart Svg Responsive Style*/
.slice{
  cursor: pointer;
}
.chart{
  margin-left:10px;
}
.barChart{
  margin-left: 70px;
  width: auto;
  background-size: 10px 10px;
  background-image: linear-gradient(to right, rgba(0, 0, 53, 0.32) 1px, transparent 1px), linear-gradient(to bottom, rgba(160, 47, 255, 0.2) 1px, transparent 1px);
}
text{
    fill: white;
}
.axis {
  font: 12px sans-serif;
}
.axis path,
.axis line {
  fill: white;
  shape-rendering: crispEdges;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(51, 42, 33, 0.74);
  color: #ff911b;
  border-radius: 2px;
}

/* Creates triangle for tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(180, 21, 16, 0.98);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
